
/*
==============================================
To-Do-calender application
==============================================
*/
.row.app{
	margin-bottom: 300px;
}
.appsName{
	color: darkgreen;
}
.appsDescription{
	padding-bottom: 20px;
	border-bottom: 2px solid grey;
}

input[type="text"]:focus, input[type="number"]:focus {
  font-size: 1.3em;
}

#new-task{
    margin-right: 10px;
    height: 44px;
    width: 220px;
    border: 1px solid black;
    margin-bottom: 10px;
    border-radius: 5px;
}

.edited label:after {
	content: " Edited";
	color: #a7b9c4;
}

.completed label{
	text-decoration: line-through;
 	color: #a7b9c4;
}

input, button{
	margin:10px;
}

.todo-list {
	border-top: 1px dashed black;
	margin-top: 10px;
	padding-top: 10px;

}

.todo-list label {
	background-color: lightblue;
	padding: 10px;
	border-radius: 10px;
}

.todo-list input {
	background-color: lightgrey;
	padding: 10px;
	border-radius: 10px;
}

.date {
	font-style: italic;
	font-weight: normal;
	font-size: .9em;
}

.md-datepicker-input-container {
    padding-bottom: 0;
    border-radius: 5px;
    border: 1px solid black;
    width: 90px;
}

.btn-custom {
	height:44px;
    margin-bottom:12px;
    margin-left:10px;
    width:90px;
}

label{
	margin:10px -5px 10px 25px
}

#myForm{
	padding-bottom: 20px;
}
